.container{
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto; 
  @media screen and (max-width: 900px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}